:host {
  .hamburger-menu {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
    display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    transform: translateY(-200px);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    transition: 0.5s ease-out;
    width: 100%;
  }
  .menu__item {
    display: block;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
  }
  .menu__item:hover {
    background: none;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    z-index: 2;
    visibility: visible;
    position: absolute;
    flex-direction: column;
    background: #030303;
    transform: translateY(0);
    overflow: visible;
    opacity: 1;
    transition: 0.5s ease-out;
    left: 0;
    right: 0;
  }
  .header {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .height {
    font-size: 30px;
    color: white;
    font-family: 'Cormorant Upright';
    font-weight: 700;
    margin-left: 120px;
  }
  .height_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    margin-left: 440px;
  }
  .menu a {
    color: #ffffff;
    text-decoration: none;
  }
  .login {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 110px;
  }
  .login a {
    color: #ffffff;
    text-decoration: none;
  }
  .log {
    border-right: 2px solid #ffffff;
  }
  .log a {
    margin-right: 10px;
  }
  .text_1 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color: white;
  }
  .text_1-6 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color: white;
    text-align: center;
  }
  .text_2 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
    max-width: 1128px;
  }
  .text_2-6 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
    max-width: 1128px;
  }
  .header_2 {
    width: 100%;
    height: 800px;
    background: url(/assets/img/BG.png);
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .button_1 {
    width: 140px;
    height: 44px;
    background-color: #dcca87;
    color: #0c0b08;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-top: 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    text-decoration: none;
  }
  .text_2_2 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    text-transform: capitalize;
    color: #ffffff;
    width: 610px;
    text-align: center;
    margin-top: 36px;
  }

  .texts_name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .zn_2 {
    position: absolute;
    top: 130px;
    right: 150px;
  }
  .zn {
    position: absolute;
    bottom: 100px;
    left: 150px;
  }

  @media (max-width: 1610px) {
    .login {
      margin-left: 70px;
    }
    .menu {
      margin-left: 300px;
    }
  }
  @media (max-width: 1440px) {
    .menu {
      margin-left: 250px;
      gap: 20px;
    }
    .height {
      margin-left: 80px;
    }
  }

  @media (max-width: 1290px) {
    .login {
      margin-left: 50px;
    }
    .height_2 {
      gap: 100px;
    }
  }
  @media (max-width: 1170px) {
    .height_2 {
      gap: 50px;
    }
    .menu {
      margin-left: 130px;
    }
  }
  @media (max-width: 1000px) {
    .hamburger-menu {
      display: flex;
    }
    .menu {
      display: none;
    }
    .login {
      display: none;
    }
    .height {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 650px) {
    .text_2_2 {
      width: auto;
      padding: 0 30px;
    }
    .number {
      width: 390px;
      height: 200px;
    }
    .zn_2,
    .zn {
      display: none;
    }
  }
  @media (max-width: 440px) {
    .number {
      width: 300px;
      height: 110px;
    }
  }
}
