<div class="header_13">
    <div class="all">
        <div class="texts-8">
            <p class="contacts">Contact Us</p>
            <p class="adress">9 W 53rd St, New York, NY 10019, USA</p>
            <p class="phone">+1 212-344-1230</p>
            <p class="phone">+1 212-555-1230</p>
        </div>

        <div class="center">
            <p class="text_5">Gerícht</p>
            <p class="text_4">"The best way to find yourself is to lose yourself in the service of others”</p>
            <div class="social">
                <a href="https://twitter.com/search?q=gericht&src=typed_query" target="_blank"><img
                        src="/assets/img/u_twitter-alt.png" alt="facebook"></a>
                <a href="https://www.facebook.com/groups/641839766874583" target="_blank"><img
                        src="/assets/img/u_facebook-f.png" alt="facebook"></a>
                <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank"><img
                        src="/assets/img/u_instagram.png" alt="facebook"></a>

            </div>
        </div>

        <div class="right">
            <p class="contacts">Working Hours</p>
            <p class="days">Monday-Friday:</p>
            <p class="days">09:00-10:00</p>
            <p class="days">Saturday-Sunday:</p>
            <p class="days">10:00-00:00</p>

        </div>
    </div>

    <footer>
        <p class="footer_p">2022 Gerícht. All Rights reserved</p>
    </footer>
</div>