<app-header></app-header>

<div class="header_2">
    <img src="/assets/img/Heros.jpg">
    <p class="text-header-2">Contact Us</p>
</div>


<div class="header_3">
    <section>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150505.92957590704!2d27.453287681233!3d53.88455846469417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1661958889794!5m2!1sru!2sby"
            width="900px" height="400px" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <img class="zn" src="/assets/img/zn.png">
</div>


<div class="header_4">
    <div class="block_left">
        <div class="inputs">
            <input type="name" id="name" name="name" placeholder="Full Name">
            <input type="email" id="email" name="email" placeholder="Email Adress">
            <input type="message" id="message" name="message" placeholder="Message">
        </div>
        <button class="book-now">Subscribe</button>
    </div>
    <div class="g-img">
        <img class="meat" src="/assets/img/meat.png">
        <div class="gg">
            <img class="g" src="/assets/img/G.png">
        </div>
    </div>
</div>


<div class="header_5">
    <div class="block">
        <p class="text_1">Newsletter</p>
        <p class="text_2">Subscribe To Our Newsletter</p>
        <p class="text_3">And never miss latest Updates!</p>
        <div class="mail">
            <input type="email" id="email" name="email" placeholder="Email Adress">
            <button class="book-now_2">Subscribe</button>
        </div>
    </div>
    <img class="zn_2" src="/assets/img/zn.png">
</div>


<app-footer></app-footer>