<app-header></app-header>

<div class="header_2">
    <img class="zn_2" src="/assets/img/zn.png">
    <div class="texts_name">
        <img class="number" src="/assets/img/404.png">
        <div class="text_2_2">Oops! The page you are looking for does not exist. It might have been moved or deleted.
        </div>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_1">Back To
            Home</a>
    </div>
    <img class="zn" src="/assets/img/zn.png">
</div>