<div class="header">
    <div class="height">GERICHT</div>
    <div class="height_2">
        <ul class="menu">
            <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Menu</a></li>
            <li><a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a></li>
            <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
            <li><a routerLink="/offer" routerLinkActive="active" ariaCurrentWhenActive="page">Offers</a></li>
        </ul>
        <ul class="login">
            <li class="log"><a href="#">Log in / Registration</a></li>
            <li><a href="#">Book table</a></li>
        </ul>
    </div>
</div>


<div class="header_2">
    <img class="zn_2" src="/assets/img/zn.png">
    <div class="texts_name">
        <img class="number" src="/assets/img/404.png">
        <div class="text_2_2">Oops! The page you are looking for does not exist. It might have been moved or deleted.
        </div>
        <button class="button_1">Back To Home</button>
    </div>
    <img class="zn" src="/assets/img/zn.png">
</div>