<swiper [config]="config">
    <ng-template swiperSlide>
        <div class="header_2">

            <div class="photos">
                <img style="width: 100%; object-fit: cover; " sclass="hero" src="/assets/img/imgs.png">
            </div>
            <div class="texts-header-7">
                <p class="right-text-1">Chase the new Flavour</p>
                <p class="right-text-2">The key to Fine dining</p>
                <p class="right-text-5-2">LSit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi
                    facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
                <a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_1">Explore
                    Menu</a>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="header_2">
            <div class="texts-header-7">
                <p class="right-text-1">Chase the new Flavour</p>
                <p class="right-text-2">The key to Fine dining</p>
                <p class="right-text-5-2">LSit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi
                    facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
                <a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_1">Explore
                    Menu</a>
            </div>
            <div class="photos">
                <img style="width: 100%; object-fit: cover; " sclass="hero" src="/assets/img/Hero img.png">
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="header_2">

            <div class="photos">
                <img style="width: 100%; object-fit: cover; " sclass="hero" src="/assets/img/bokal.png">
            </div>
            <div class="texts-header-7">
                <p class="right-text-1">Chase the new Flavour</p>
                <p class="right-text-2">The key to Fine dining</p>
                <p class="right-text-5-2">LSit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi
                    facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
                <a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_1">Explore
                    Menu</a>
            </div>
        </div>
    </ng-template>
</swiper>