<div class="header">
    <div class="height">GERICHT</div>
    <div class="height_2">
        <ul class="menu">
            <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Menu</a></li>
            <li><a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a></li>
            <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
            <li><a routerLink="/offer" routerLinkActive="active" ariaCurrentWhenActive="page">Offers</a></li>
        </ul>
        <ul class="login">
            <li class="log"><a href="#">Log in / Registration</a></li>
            <li><a href="#">Book table</a></li>
        </ul>
    </div>
</div>

<div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <ul class="menu__box">
        <li><a class="menu__item" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li><a class="menu__item" routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Menu</a>
        </li>
        <li><a class="menu__item" routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contact
                Us</a>
        </li>
        <li><a class="menu__item" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About
                Us</a>
        </li>
        <li><a class="menu__item" routerLink="/offer" routerLinkActive="active" ariaCurrentWhenActive="page">Offers</a>
        </li>

        <li><a class="menu__item" href="#">Log in / Registration</a></li>
        <li><a class="menu__item" href="#">Book table</a></li>
    </ul>
</div>


<div class="header_2">
    <img src="/assets/img/Hero.jpg">
    <p class="text-header-2">Welcome to Gerícht</p>
</div>


<div class="header_3">
    <p class="text_1">Our History</p>
    <p class="text_2">Serving Customers For Over A Decade</p>
    <div class="all-block">
        <div class="block_3-1">
            <p class="text_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices
                vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
            <img class="img-cafe" src="/assets/img/Cafe.png" alt="img">
        </div>
        <div class="block_3-2">
            <img class="img-cafe-2" src="/assets/img/pexels-quark-studio-3201920.png" alt="img">
            <div class="right-content">
                <p class="number">Over the years</p>
                <div class="collums">
                    <div class="collumn-1">
                        <p class="number">30+</p>
                        <p class="text_1">Breakfast Options</p>
                    </div>
                    <div class="collumn-1">
                        <p class="number">50+</p>
                        <p class="text_1">Dinner Options</p>
                    </div>
                    <div class="collumn-1">
                        <p class="number">8</p>
                        <p class="text_1">New Locations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="header_4">
    <div class="texts">
        <p class="text_1">Serving Quality</p>
        <p class="text_2">We at Gericth Are Serving Our Customers For Over A Decade</p>
        <p class="text_4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices
            vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
    </div>
    <img class="zn" src="/assets/img/zn.png">
    <video src="/assets/img/Video-1.mp4" controls loop></video>
</div>


<div class="header_5">
    <img class="zn_2" src="/assets/img/zn.png">

    <div class="foto_1">
        <img class="image" src="/assets/img/Image.png">
    </div>
    <div class="right_block">
        <p class="right-text-1">Chef’s Word</p>
        <p class="right-text-2">What we believe in</p>
        <p class="right-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit .auctor sit iaculis
            in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue ac consequat,
            aliquam molestie lectus eu. Congue iaculis integer curabitur semper sit nunc.</p>
        <p class="right-text-4">Kevin Luo</p>
        <p class="right-text-5">Chef & Founder</p>
        <img class="kevin" src="/assets/img/Kevin Luo.png">
    </div>
</div>


<div class="header_6">
    <p class="text_1">Testimony</p>
    <p class="text_2">Happy customers</p>
    <div class="customers">
        <div class="customer">
            <div class="customer-1">
                <img class="foto" src="/assets/img/Wade.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Wade Warren</p>
                    <p class="customer-text-3">Sommelier</p>
                </div>
            </div>

            <div class="customer-1">
                <img class="foto" src="/assets/img/Robert.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Robert Fox</p>
                    <p class="customer-text-3">Chef</p>
                </div>
            </div>
        </div>
        <div class="customer">
            <div class="customer-1">
                <img class="foto" src="/assets/img/Jane.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Jane Cooper</p>
                    <p class="customer-text-3">Sommelier</p>
                </div>
            </div>

            <div class="customer-1">
                <img class="foto" src="/assets/img/Brooklyn.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Brooklyn Simmons</p>
                    <p class="customer-text-3">Caterer</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="header_7">
    <div class="texts-header-7">
        <p class="right-text-1">Instagram</p>
        <p class="right-text-2">Photo Gallery</p>
        <p class="right-text-5-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis
            elit
            elit scelerisque egestas mu.</p>
        <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank" class="button_1">View
            More</a>
    </div>
    <div class="photos">
        <img class="photoses_1" src="/assets/img/2.png">
        <img class="photoses_1" src="/assets/img/1.png">
        <img class="photoses_1" src="/assets/img/7.png">

    </div>
</div>


<div class="header_8">
    <div class="block">
        <p class="text_1">Newsletter</p>
        <p class="text_2">Subscribe To Our Newsletter</p>
        <p class="text_4">And never miss latest Updates!</p>
        <div class="mail">
            <input type="email" id="email" name="email" placeholder="Email Adress">
            <button class="book-now">Subscribe</button>
        </div>
    </div>
    <img class="zn_3" src="/assets/img/zn.png">
</div>


<div class="header_9">
    <div class="all">
        <div class="texts-8">
            <p class="contacts">Contact Us</p>
            <p class="adress">9 W 53rd St, New York, NY 10019, USA</p>
            <p class="phone">+1 212-344-1230</p>
            <p class="phone">+1 212-555-1230</p>
        </div>
        <div class="center">
            <p class="text_5">Gerícht</p>
            <p class="text_4">"The best way to find yourself is to lose yourself in the service of others”</p>
            <div class="social">
                <a href="https://twitter.com/search?q=gericht&src=typed_query" target="_blank"><img
                        src="/assets/img/u_twitter-alt.png" alt="facebook"></a>
                <a href="https://www.facebook.com/groups/641839766874583" target="_blank"><img
                        src="/assets/img/u_facebook-f.png" alt="facebook"></a>
                <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank"><img
                        src="/assets/img/u_instagram.png" alt="facebook"></a>

            </div>
        </div>

        <div class="right">
            <p class="contacts">Working Hours</p>
            <p class="days">Monday-Friday:</p>
            <p class="days">09:00-10:00</p>
            <p class="days">Saturday-Sunday:</p>
            <p class="days">10:00-00:00</p>

        </div>
    </div>

    <footer>
        <p class="footer_p">2022 Gerícht. All Rights reserved</p>
    </footer>
</div>