@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');
@font-face {
  font-family: CormorantUpright-Bold;
  src: url(/fonts/CormorantUpright-Bold.ttf);
}
@font-face {
  font-family: CormorantUpright-Light;
  src: url(/fonts/CormorantUpright-Light.ttf);
}

:host {
  .header {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .height {
    font-size: 30px;
    color: white;
    font-family: 'Cormorant Upright';
    font-weight: 700;
    margin-left: 120px;
  }
  .height_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    margin-left: 440px;
  }
  .menu a {
    color: #ffffff;
    text-decoration: none;
  }
  .login {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 110px;
  }
  .login a {
    color: #ffffff;
    text-decoration: none;
  }
  .log {
    border-right: 2px solid #ffffff;
  }
  .log a {
    margin-right: 10px;
  }
  .text_1 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color: white;
  }
  .header_3 {
    height: 700px;
    width: 100%;
    background-color: #0c0b08;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text_2 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
    max-width: 1128px;
  }
  .header_2 {
    width: 100%;
    height: 600px;
    object-fit: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text_3 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    text-align: center;
    max-width: 868px;
    margin-top: 32px;
  }
  .button_1 {
    width: 140px;
    height: 44px;
    background-color: #dcca87;
    color: #0c0b08;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-right: 40px;
  }
  .button_2 {
    width: 140px;
    height: 44px;
    background-color: #0c0b08;
    color: #dcca87;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #dcca87;
  }
  .zn {
    margin-left: auto;
    margin-right: 50px;
    margin-top: 30px;
  }
  .header_4 {
    width: 100%;
    height: 900px;
    position: relative;
  }
  .glass {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-header-2 {
    color: #dcca87;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 90px;
    position: absolute;
  }
  .header_3 {
    width: 100%;
    height: 600px;
    background-color: #0c0b08;
    position: relative;
  }
  iframe {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    border: 2px solid #dcca87;
  }
  .zn {
    top: 50px;
    right: 50px;
    position: absolute;
  }
  .header_4 {
    width: 100%;
    height: 700px;
    background: url(/assets/img/Mask\ Group.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 180px;
    position: relative;
  }
  input {
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border: 2px solid #dcca87;
    color: #aaaaaa;
    background: #030303;
    width: 635px;
    height: 40px;
  }
  input:last-child {
    height: 100px;
  }
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
  .book-now {
    width: 145px;
    height: 44px;
    background: #dcca87;
    color: #030303;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    margin-top: 32px;
  }
  .block_left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .meat {
    object-fit: cover;
    width: 383px;
    height: 480px;
  }
  .g {
    position: absolute;
    width: 260px;
    height: 279px;
    right: 172px;
    bottom: 0px;
  }
  .header_6 {
    width: 100%;
    height: 400px;
    background: url(/assets/img/Mask\ Group.png);
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hamburger-menu {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
    display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    transform: translateY(-200px);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    transition: 0.5s ease-out;
    width: 100%;
  }
  .menu__item {
    display: block;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
  }
  .menu__item:hover {
    background: none;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    z-index: 2;
    visibility: visible;
    position: absolute;
    flex-direction: column;
    background: #030303;
    transform: translateY(0);
    overflow: visible;
    opacity: 1;
    transition: 0.5s ease-out;
    left: 0;
    right: 0;
  }
  .contacts {
    font-family: 'CormorantUpright-Light';
    font-style: light;
    font-size: 32px;
    top: 0;
    color: #aaaaaa;
  }
  .adress {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .texts-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .phone {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .text_4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    width: 438px;
    text-align: center;
    margin: 20px 0;
  }
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .text_5 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    max-width: 1128px;
    letter-spacing: 0.04em;
  }
  .center {
    margin-left: 125px;
  }
  .days {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .right {
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 125px;
  }
  footer {
    position: absolute;
    bottom: 20px;
  }
  .footer_p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .header_5 {
    width: 100%;
    height: 770px;
    background: #0c0c0c;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
  }
  input {
    width: 600px;
    height: 30px;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    color: #aaaaaa;
    background: #030303;
    padding: 5px 0 5px 30px;
    background: #030303;
    border: 1px solid #dcca87;
  }
  .mail {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    margin-top: 64px;
  }
  .zn_3 {
    position: absolute;
    width: 146px;
    height: 146px;
    right: 77px;
    top: 80px;
  }
  .book-now {
    width: 145px;
    height: 44px;
    background: #030303;
    border: 1px solid #dcca87;
    color: #ffffff;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
  }
  .block {
    width: 1364px;
    height: 466px;
    border: 1px solid #dcca87;
    position: absolute;
    top: 152px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .zn_2 {
    position: absolute;
    width: 146px;
    height: 146px;
    right: 77px;
    top: 80px;
  }
  .book-now_2 {
    width: 145px;
    height: 44px;
    background: #030303;
    border: 1px solid #dcca87;
    color: #ffffff;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
  }
  .g-img {
    position: relative;
    width: 383px;
    height: 480px;
  }

  @media (max-width: 1620px) {
    .menu {
      margin-left: 300px;
    }
  }
  @media (max-width: 1470px) {
    .menu {
      margin-left: 200px;
    }
    .login {
      margin-left: 80px;
    }
    .block {
      width: 1000px;
    }
  }
  @media (max-width: 1340px) {
    .height_2 {
      gap: 100px;
    }
    .height {
      margin-left: 90px;
    }
  }
  @media (max-width: 1230px) {
    .login {
      margin-left: 50px;
    }
    .menu {
      margin-left: 150px;
      gap: 20px;
    }
    .header_4 {
      gap: 100px;
    }
    input {
      width: 500px;
    }
    .right,
    .center {
      margin-left: 80px;
    }
    .zn {
      display: none;
    }
  }
  @media (max-width: 1090px) {
    .height {
      margin-left: 60px;
    }
    .meat {
      width: 300px;
      height: 400px;
    }
    .g {
      height: 219px;
      width: 200px;
      right: 221px;
      bottom: 79px;
    }
    .block {
      width: 750px;
    }
    .all {
      flex-direction: column;
      gap: 30px;
    }
    .center,
    .right {
      margin-left: 0;
    }
    .right {
      margin-bottom: 70px;
    }
    .header_6 {
      height: auto;
    }
    .header_4 {
      gap: 60px;
    }
    input {
      width: 350px;
    }
    .height_2 {
      gap: 60px;
    }
    .menu {
      margin-left: 100px;
    }
    .height {
      margin-left: 30px;
    }
  }
  @media (max-width: 1090px) {
    .hamburger-menu {
      display: flex;
    }
    .menu {
      display: none;
    }
    .login {
      display: none;
    }
    .height {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    iframe {
      width: 600px;
    }
  }
  @media (max-width: 850px) {
    .header_4 {
      flex-direction: column;
    }
    .meat {
      margin-bottom: 30px;
    }
    .header_4 {
      height: auto;
    }
    .book-now {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 20px;
    }
    .g-img {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .g {
      right: 180px;
      bottom: 55px;
    }
    .mail {
      flex-direction: column;
    }
    .book-now_2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .text_2 {
      width: auto;
    }
    .block {
      width: 600px;
    }
  }

  @media (max-width: 640px) {
    iframe {
      width: 300px;
      height: 350px;
    }
    input {
      width: 280px;
    }
    .block {
      width: 320px;
    }
    .mail {
      margin-top: 40px;
    }
    .text_2 {
      font-size: 50px;
    }
    .text_4 {
      width: auto;
      padding: 0 30px;
    }
    .text-header-2 {
      font-size: 50px;
    }
  }
  @media (max-width: 390px) {
    .meat {
      width: 200px;
      height: 300px;
    }
    .g {
      width: 131px;
      height: 150px;
      right: 93px;
      bottom: 104px;
    }
    .g-img {
      width: auto;
    }
    .block {
      width: 310px;
    }
    .mail input {
      width: 260px;
    }
  }
}
