:host {
  .text_1 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color: white;
  }
  .text_1-6 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color: white;
    text-align: center;
  }
  .text_2 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
    max-width: 1128px;
    line-height: 1;
  }
  .text_2-6 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
    max-width: 1128px;
  }
  .photo_11 {
    display: flex;
    flex-direction: column;
  }

  .button_1 {
    width: 140px;
    height: 44px;
    background-color: #dcca87;
    color: #0c0b08;
    font-family: 'Cormorant Upright';
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-top: 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button_1-1 {
    width: 140px;
    height: 44px;
    background-color: #dcca87;
    color: #0c0b08;
    font-family: 'Cormorant Upright';
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-top: 24px;
    align-items: flex-end;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    object-fit: cover;
    width: 500px;
    height: 600px;
  }

  .header_3 {
    width: 100%;
    height: 800px;
    background: url(/assets/img/Mask\ Group.png);
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .glight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .knife {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }
  .block_left_1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    z-index: 2;
    position: relative;
  }
  .left-text-2 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    font-size: 64px;
    margin-top: 20px;
    max-width: 1128px;
    text-transform: capitalize;
    margin-bottom: 32px;
    width: 450px;
    text-align: right;
  }
  .right-text-2 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    font-size: 64px;
    margin-top: 20px;
    max-width: 1128px;
    text-transform: capitalize;
    margin-bottom: 32px;
    width: 450px;
    text-align: left;
  }
  .right-text-2-5 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    font-size: 64px;
    margin-top: 20px;
    max-width: 1128px;
    text-transform: capitalize;
    margin-bottom: 32px;
    width: 450px;
    text-align: left;
  }
  .left-text-5-2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    width: 450px;
    text-align: right;
  }
  .right-text-5-2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    width: 450px;
    text-align: left;
  }
  .block-knife {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 255px;
  }
  .right_blocks {
    z-index: 2;
    position: relative;
  }
  .obj_img {
    display: flex;
    justify-content: center;
    align-items: left;
  }
  .header_4 {
    width: 100%;
    height: 770px;
    background: #0c0c0c;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .block {
    width: 1364px;
    height: 466px;
    border: 1px solid #dcca87;
    position: absolute;
    top: 152px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin: 40px 0;
  }
  select {
    width: 250px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border: 2px solid #dcca87;
    color: #aaaaaa;
    background: #0c0b08;
  }
  form input {
    width: 250px;
    height: 38px;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border: 2px solid #dcca87;
    color: #aaaaaa;
    background: #030303;
    &::-webkit-calendar-picker-indicator {
      background-color: #dcca87;
      padding: 20px 10px;
    }
  }
  .book-now {
    width: 145px;
    height: 44px;
    background: #030303;
    border: 1px solid #dcca87;
    color: #ffffff;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
  }
  .photoss {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }
  .zn_2 {
    position: absolute;
    width: 146px;
    height: 146px;
    right: 77px;
    top: -70px;
  }
  .header_5 {
    width: 100%;
    height: 900px;
    position: relative;
  }
  .glass {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .food_menu {
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 261px;
    left: 145px;
    list-style: none;
    line-height: 1;
  }

  .food_menu a {
    color: #ffffff;
    top: 50px;
    font-size: 80px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 64px 0;
  }
  .header_6 {
    width: 100%;
    height: 900px;
    background: #0c0c0c;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .block_6 {
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wine_beer {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 400;
    font-size: 23px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .block-left-6 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .block_food {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .name_food {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #dcca87;
  }
  .price {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #ffffff;
  }
  .line {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .all-block-food {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
  }
  .blocks-all {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: row;
    gap: 55px;
    margin-top: 36px;
  }
  .img_6 {
    object-fit: cover;
    height: 550px;
  }
  .header_7 {
    width: 100%;
    height: 850px;
    background: url(/assets/img/Mask\ Group.png);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    position: relative;
  }
  .image {
    width: 534px;
    height: 689px;
    object-fit: cover;
    margin: 0 auto;
  }
  .right-text-1 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color: white;
    text-transform: capitalize;
  }
  .right-text-22 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    font-size: 60px;
    margin-top: 10px;
    max-width: 1128px;
    text-transform: capitalize;
    margin-bottom: 40px;
    line-height: 1;
  }
  .photoses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }
  .right-text-3 {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    width: 570px;
    margin-bottom: 64px;
    line-height: 175%;
    letter-spacing: 0.04em;
  }
  .right-text-4 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-transform: capitalize;
    color: #dcca87;
    margin-bottom: 10px;
  }
  .right-text-5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .kevin {
    margin-top: 64px;
  }
  .header_8 {
    width: 100%;
    height: 800px;
    background-color: #0c0b08;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .customer-text-1 {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #aaaaaa;
    max-width: 412px;
    margin-bottom: 15px;
  }
  .customer-text-2 {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #dcca87;
    margin-bottom: 15px;
  }
  .customer-text-3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #f5efdb;
  }
  .customer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  .foto {
    object-fit: cover;
  }
  .customer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
  }
  .customers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    margin-top: 64px;
  }
  .header_9 {
    width: 100%;
    height: 1000px;
    background-color: #0c0b08;
    position: relative;
  }
  .texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 125px;
  }
  .text_4 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    text-align: center;
    max-width: 824px;
    margin-top: 32px;
  }
  video {
    object-fit: contain;
    height: 550px;
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .zn {
    width: 146px;
    height: 146px;
    right: 77px;
    top: 100px;
    position: absolute;
  }
  .header_10 {
    width: 100%;
    height: 700px;
    background: url(/assets/img/Mask\ Group.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 180px;
    position: relative;
  }
  input {
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border: 2px solid #dcca87;
    color: #aaaaaa;
    background: #030303;
    width: 635px;
    height: 40px;
  }
  input:last-child {
    height: 100px;
  }
  .block_circle {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }
  .book-now {
    width: 145px;
    height: 44px;
    background: #dcca87;
    color: #030303;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    margin-top: 32px;
  }
  .block_left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 184px;
  }
  .meat {
    object-fit: cover;
    width: 383px;
    height: 480px;
  }
  .gg {
    position: absolute;
    left: -72px;
    bottom: 0;
    display: flex;
  }
  .g {
    width: 260px;
    height: 279px;
  }
  .g-img {
    position: relative;
    width: 383px;
    height: 480px;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 60px;
    position: absolute;
    margin-bottom: 18px;
  }
  .circle_number {
    position: relative;
  }
  .circle-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .circle-numbers:nth-child(3) {
    margin: 0;
  }
  .two-blocks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .right-text-5-27 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    width: 400px;
  }
  .two-blocks:last-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 36px;
  }
  .two-blocks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .circle-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .customer-text-1_1 {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #aaaaaa;
    max-width: 412px;
    margin-bottom: 15px;
    width: 150px;
  }
  .header_11 {
    width: 100%;
    height: 1200px;
    background-color: #0c0b08;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #fafafa;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .head {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-decoration-line: underline;
    color: #dcca87;
    text-transform: capitalize;
    margin-bottom: 32px;
    line-height: 1;
  }
  .opis {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    margin-bottom: 32px;
  }
  .read_more {
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #dcca87;
  }
  .texts_11 {
    width: 430px;
  }
  .pic {
    object-fit: cover;
    margin-top: 32px;
  }
  .photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }
  .book-now_2 {
    width: 145px;
    height: 44px;
    background: #dcca87;
    border: 1px solid #dcca87;
    color: #030303;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    margin-top: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .zn_3 {
    position: absolute;
    width: 146px;
    height: 146px;
    right: 30px;
    bottom: 20px;
  }
  .header_12 {
    width: 100%;
    height: 550px;
    background: #030303;
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .button_1 {
    width: 140px;
    height: 44px;
    background-color: #dcca87;
    color: #0c0b08;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-top: 24px;
    text-decoration: none;
  }

  .texts-header-7 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
  }
  .photos img:last-child,
  .photos img:child(2) {
    margin-left: 20px;
    object-fit: cover;
  }
  .right-text-5-2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .right-text-5-2-2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    width: 450px;
  }

  .header_14 {
    width: 100%;
    height: 770px;
    background: #0c0c0c;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
  }
  input {
    width: 600px;
    height: 30px;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    color: #aaaaaa;
    background: #030303;
    padding: 5px 0 5px 30px;
    background: #030303;
    border: 1px solid #dcca87;
  }
  .mail {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    margin-top: 64px;
  }
  .zn_4 {
    position: absolute;
    width: 146px;
    height: 146px;
    right: 77px;
    top: 80px;
  }
  .book-now-3 {
    width: 145px;
    height: 44px;
    background: #030303;
    border: 1px solid #dcca87;
    color: #ffffff;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
  }
  .block {
    width: 1364px;
    height: 466px;
    border: 1px solid #dcca87;
    position: absolute;
    top: 152px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .book-now_4 {
    width: 145px;
    height: 44px;
    background: #dcca87;
    border: 1px solid #dcca87;
    color: #030303;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    margin-top: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    text-decoration: none;
  }
  .customer-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .obj {
    display: flex;
  }

  .circle_circle {
    display: none;
  }

  @media (max-width: 1500px) {
    .circle_circle {
      display: none;
    }
    .header_11 {
      height: auto;
      padding: 40px 0;
    }
    .image_ins {
      height: 300px;
    }

    .block {
      width: 900px;
    }
  }
  @media (max-width: 1300px) {
    .customers {
      flex-direction: column;
    }
    .header_8 {
      height: auto;
    }
    .customer {
      gap: 35px;
    }
    .header_7 {
      flex-direction: column;
      height: auto;
      gap: 50px;
    }
    .image {
      width: 434px;
      height: 589px;
      margin-top: 30px;
    }
    .right_block {
      margin-bottom: 30px;
    }
    .zn {
      top: 35px;
    }
    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .obj {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header_10 {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    .block_left {
      margin: 0;
    }
    .right-text-2 {
      text-align: center;
      width: auto;
    }
    .meat {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right-text-5-2 {
      text-align: center;
      width: auto;
    }
    .right-text-5-2-2 {
      text-align: left;
      width: auto;
    }
    .texts-header-7 {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .g-img {
      margin: 30px 0;
    }
    .header_2 {
      flex-direction: column;
      height: auto;
      gap: 50px;
    }
    .texts-header-7 {
      margin-top: 30px;
    }
    .photos {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 1200px) {
    .header_3 {
      flex-direction: column;
      height: 600px;
    }
    .block-knife {
      flex-direction: column;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    .right-text-5-2-2 {
      width: 450px;
    }
    .right_block {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
    .obj_img {
      display: none;
    }
    .img_6 {
      display: none;
    }
    .blocks-all {
      flex-direction: column;
    }
    .header_6 {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header_12 {
      flex-direction: column;
    }
    .photoses {
      margin-top: 30px;
    }
  }

  @media (max-width: 1000px) {
    .login {
      display: none;
    }
    .inputs {
      flex-direction: column;
      gap: 20px;
      margin: 20px 0;
    }
    .text_2 {
      margin-top: 20px;
    }
    .block {
      width: 600px;
    }
    .book-now {
      margin-top: 20px;
    }
    input {
      width: 300px;
    }
    video {
      width: 500px;
    }
    .right_block {
      align-items: center;
    }
  }

  @media (max-width: 700px) {
    .right-text-2,
    .left-text-2,
    .text_2,
    .text_2-6,
    .right-text-22 {
      font-size: 40px;
    }
    .circle {
      text-align: center;
      margin: 0 auto;
    }
    .circle-all {
      flex-wrap: wrap;
    }
    .photoses {
      flex-direction: column;
    }
    .mail {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .customer-1 {
      flex-direction: column;
    }
    .hero,
    .image {
      width: 300px;
      height: 400px;
    }
    .right-text-2-5 {
      font-size: 40px;
    }
    .button_1-1,
    .book-now_4,
    .button_1 {
      width: 100px;
      height: 34px;
      font-size: 14px;
    }

    .block {
      width: 400px;
    }
    .food_menu a {
      font-size: 50px;
    }
    .all-block-food {
      gap: 20px;
    }
    .right-text-3 {
      width: auto;
      margin: 30px;
    }
    .text_2 {
      font-size: 30px;
      margin: 30px;
    }
    .g {
      width: 200px;
      height: 219px;
    }
    .gg {
      bottom: 80px;
      left: 0px;
    }
    .meat {
      width: 300px;
      height: 400px;
      margin: 0 auto;
    }
  }

  @media (max-width: 500px) {
    .right-text-3 {
      margin: 30px;
    }
    .mail {
      width: 200px;
    }
    .block-knife {
      width: 100%;
    }
    .text_2 {
      font-size: 30px;
    }
    video {
      width: 350px;
    }
    .block {
      width: 300px;
    }
    .right_blocks {
      margin-left: 30px;
    }
    .block_left_1 {
      margin-right: 30px;
    }
    .right-text-5-2-2 {
      width: auto;
    }
    .left-text-5-2,
    .left-text-2,
    .right-text-2-5 {
      width: auto;
      margin: 30px;
    }
    .right-text-5-2 {
      margin: 30px;
    }
    .customer-text-1 {
      width: auto;
      margin: 30px;
    }
    .customer-text-2 {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .meat {
      width: 300px;
      height: 400px;
      margin: 0 auto;
    }
    .customer-text-3 {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .right-text-5-2-2 {
      width: auto;
      margin: 30px;
    }
    .pic {
      width: 300px;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .customer-text-2 {
      font-size: 25px;
    }
    .head {
      font-size: 25px;
    }
    .texts_11 {
      width: auto;
      margin: 20px;
    }
    input {
      width: 200px;
    }
  }

  @media (max-width: 400px) {
    video {
      width: 300px;
    }
    .header_12 {
      height: auto;
    }
    input {
      width: 230px;
    }
    .meat {
      width: 230px;
      height: 330px;
    }
    .gg {
      bottom: 150px;
      left: -39px;
    }
    .right-text-5-27 {
      width: auto;
    }
    .g-img {
      width: auto;
    }
    .block-knife {
      height: auto;
    }
    .button_1 {
      margin-bottom: 30px;
    }
    .food_menu {
      left: 20px;
    }
    .line {
      margin-right: 10px;
      margin-left: 10px;
    }
    .name_food {
      font-size: 20px;
    }
    .image {
      width: 200px;
      height: 300px;
    }
    .pic {
      width: 250px;
      height: 300px;
    }
  }
}
