<div class="header_14">
    <div class="block">
        <p class="text_1">Newsletter</p>
        <p class="text_2">Subscribe To Our Newsletter</p>
        <p class="text_4">And never miss latest Updates!</p>
        <div class="mail">
            <input type="email" id="email" name="email" placeholder="Email Adress" required>
            <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
                Subscribe
            </button>
        </div>
    </div>
    <img class="zn_4" src="/assets/img/zn.png">
</div>