:host {
  .header {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .height {
    font-size: 30px;
    color: white;
    font-family: 'Cormorant Upright';
    font-weight: 700;
    margin-left: 120px;
  }
  .height_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    margin-left: 440px;
  }
  .menu a {
    color: #ffffff;
    text-decoration: none;
  }
  .login {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 110px;
  }
  .login a {
    color: #ffffff;
    text-decoration: none;
  }
  .log {
    border-right: 2px solid #ffffff;
  }
  .log a {
    margin-right: 10px;
  }
  .text_1 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    color: white;
  }
  .header_3 {
    height: 700px;
    width: 100%;
    background-color: #0c0b08;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text_2 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
    max-width: 1128px;
    line-height: 1;
  }
  .header_2 {
    width: 100%;
    height: 600px;
    object-fit: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text_3 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
    text-align: center;
    max-width: 868px;
    margin-top: 32px;
  }
  .button_1 {
    width: 140px;
    height: 44px;
    background-color: #dcca87;
    color: #0c0b08;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .button_2 {
    width: 140px;
    height: 44px;
    background-color: #0c0b08;
    color: #dcca87;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #dcca87;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .zn {
    margin-left: auto;
    margin-right: 50px;
    margin-top: 30px;
  }
  .header_4 {
    width: 100%;
    height: 900px;
    position: relative;
  }
  .glass {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-header-2 {
    color: #dcca87;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 90px;
    position: absolute;
    line-height: 1;
  }
  .food_menu {
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 261px;
    left: 145px;
    list-style: none;
    line-height: 1;
  }
  .buttons {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
  }
  .food_menu a {
    color: #ffffff;
    top: 50px;
    font-size: 80px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 64px 0;
  }
  .header_5 {
    width: 100%;
    height: 770px;
    background: #0c0c0c;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .block {
    width: 1364px;
    height: 466px;
    border: 1px solid #dcca87;
    position: absolute;
    top: 152px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin: 40px 0;
  }
  select {
    width: 250px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border: 2px solid #dcca87;
    color: #aaaaaa;
    background: #0c0b08;
  }
  form input {
    width: 250px;
    height: 38px;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border: 2px solid #dcca87;
    color: #aaaaaa;
    background: #030303;
    &::-webkit-calendar-picker-indicator {
      background-color: #dcca87;
      padding: 20px 10px;
    }
  }
  .book-now {
    width: 145px;
    height: 44px;
    background: #030303;
    border: 1px solid #dcca87;
    color: #ffffff;
    font-family: 'Cormorant Upright';
    font-weight: 600;
    font-size: 16px;
  }
  .mask {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-header-6 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 280px;
    right: 0;
    left: 0;
  }
  .text-1 {
    font-family: 'Cormorant Upright';
    font-style: bold;
    font-weight: 700;
    font-size: 32px;
    color: white;
  }
  .text-2_6 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 128px;
    margin-top: 30px;
    max-width: 1128px;
    margin-bottom: 32px;
    line-height: 1;
  }
  .hamburger-menu {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
    display: none;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    transform: translateY(-200px);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    transition: 0.5s ease-out;
    width: 100%;
  }
  .menu__item {
    display: block;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
  }
  .menu__item:hover {
    background: none;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    z-index: 2;
    visibility: visible;
    position: absolute;
    flex-direction: column;
    background: #030303;
    transform: translateY(0);
    overflow: visible;
    opacity: 1;
    transition: 0.5s ease-out;
    left: 0;
    right: 0;
  }
  .text-2 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 128px;
    margin-top: 30px;
    max-width: 1128px;
    margin-bottom: 32px;
  }
  .text-3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .header_7 {
    width: 100%;
    height: 770px;
    background: #0c0c0c;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
  }
  .header_6 {
    position: relative;
    display: flex;
  }
  input {
    width: 600px;
    height: 30px;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    color: #aaaaaa;
    background: #030303;
    padding: 5px 0 5px 30px;
    background: #030303;
    border: 1px solid #dcca87;
  }
  .mail {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    margin-top: 64px;
  }
  .zn_2 {
    position: absolute;
    width: 146px;
    height: 146px;
    right: 77px;
    top: 80px;
  }
  .header_8 {
    width: 100%;
    height: 400px;
    background: url(/assets/img/Mask\ Group.png);
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contacts {
    font-family: 'CormorantUpright-Light';
    font-style: light;
    font-size: 32px;
    top: 0;
    color: #aaaaaa;
  }
  .adress {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .texts-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .phone {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .text_4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    width: 438px;
    text-align: center;
    margin: 20px 0;
  }
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .text_5 {
    font-family: 'Cormorant Upright';
    font-weight: 600;
    color: #dcca87;
    text-align: center;
    font-size: 64px;
    max-width: 1128px;
    letter-spacing: 0.04em;
  }
  .center {
    margin-left: 125px;
  }
  .days {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  .right {
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 125px;
  }
  footer {
    position: absolute;
    bottom: 20px;
  }
  .footer_p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
  @media (min-width: 1500px) {
    .menu {
      margin-left: 400px;
    }
  }
  @media (max-width: 1600px) {
    .menu {
      margin-left: 300px;
    }
  }
  @media (max-width: 1500px) {
    .height_2 {
      gap: 80px;
    }
    .menu {
      margin-left: 200px;
    }
    .block {
      width: 900px;
    }
    .text-header-6 {
      top: 0;
    }
  }
  @media (max-width: 1300px) {
    .menu {
      margin-left: 150px;
      gap: 20px;
    }
    .login {
      margin-left: 50px;
    }

    .height_2 {
      gap: 60px;
    }
    .center,
    .right {
      margin-left: 70px;
    }
  }
  @media (max-width: 1100px) {
    .height {
      margin-left: 80px;
    }

    .menu {
      margin-left: 100px;
    }
    .all {
      flex-direction: column;
      gap: 30px;
    }
    .header_8 {
      height: auto;
    }
    .center,
    .right {
      margin: 0;
    }
    .right {
      margin-bottom: 70px;
    }
    .text_2 {
      padding: 0 20px;
    }
  }
  @media (max-width: 1000px) {
    .header_4 {
      display: flex;
      position: relative;
      height: auto;
    }
    .glass {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
    }
    .food_menu {
      position: relative;
      z-index: 2;
      margin: auto;
      left: 0;
      top: 0;
    }
    .height {
      margin-left: 50px;
    }
    .menu {
      margin-left: 70px;
    }
    .login {
      margin-left: 30px;
    }
    .block {
      width: 860px;
    }
    .height_2 {
      gap: 40px;
    }
  }
  @media (max-width: 880px) {
    .header {
      justify-content: center;
    }
    .menu,
    .login {
      display: none;
    }

    .height {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .hamburger-menu {
      display: flex;
    }
    .login {
      padding-left: 300px;
    }
    .inputs {
      flex-direction: column;
      gap: 25px;
      margin: 25px 0;
    }
    .text_2 {
      margin-top: 25px;
    }
    .block {
      width: 600px;
    }
    input {
      width: 300px;
    }
  }

  @media (max-width: 720px) {
    .login {
      padding-left: 180px;
    }
    .text-2_6 {
      font-size: 70px;
    }
  }
  @media (max-width: 650px) {
    .login {
      padding-left: 100px;
    }
    .text_3 {
      width: auto;
      margin: 20px 30px;
    }
    .block {
      width: 400px;
    }
    .mail {
      flex-direction: column;
      gap: 20px;
    }
    .book-now {
      margin: 0 auto;
    }
  }

  @media (max-width: 570px) {
    .login {
      margin: 10px 0;
    }
    .text-header-2 {
      font-size: 70px;
    }
    .text_2 {
      font-size: 50px;
    }
    .food_menu a {
      font-size: 50px;
    }
    .text-1 {
      font-size: 25px;
    }
    .text_4 {
      width: auto;
      margin: 30px 30px;
    }
  }
  @media (max-width: 420px) {
    .block {
      width: 300px;
    }
    input {
      width: 250px;
    }
    .login {
      padding-left: 20px;
    }
  }
  @media (max-width: 320px) {
    .header_3 {
      height: auto;
    }
    .button_1 {
      margin-right: 20px;
    }
    .text-2_6 {
      font-size: 40px;
    }
  }
}
