:host {
  .block {
    max-width: 500px;
    height: 700px;
    background: #0c0b08;
  }

  .all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  h1 {
    color: #dcca87;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
  }
  .zn {
    position: absolute;
    right: 20px;
    width: 100px;
    height: 100px;
    top: 10px;
  }

  button {
    background: #0c0b08;
    color: white;
    height: 40px;
    width: 300px;
    border: 1px solid #dcca87;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto !important;
  }
  label p {
    color: #dcca87;
    margin: 0;
  }
  input {
    width: 300px;
    height: 40px;
    margin: 10px 0;
    background: #0c0b08;
    color: white;
    padding-left: 10px;
    border: 1px solid #dcca87;
  }
  .checkbox label {
    font: 1rem 'Fira Sans', sans-serif;
    color: white;
  }
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    width: 327px;
  }
  #scales {
    margin: 0.4rem;
    width: 25px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
  }
  .log {
    background: #0c0b08;
    color: white;
    height: 40px;
    width: 120px;
    border: 1px solid #dcca87;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  h2 {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Upright';
    font-weight: 700;
    text-decoration: none;
  }

  @media (max-width: 700px) {
    .block {
      width: 400px;
      height: 650px;
    }
  }
  @media (max-width: 600px) {
    .block {
      width: 300px;
      height: 650px;
    }
    input {
      width: 200px;
    }
    button {
      width: 200px;
    }
    .checkbox {
      width: auto;
    }
  }
  @media (max-width: 400px) {
    .block {
      height: 570px;
      width: auto;
    }
    input {
      width: 180px;
      height: 30px;
    }
    button {
      width: 180px;
      height: 30px;
    }
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
  }
}
