<app-header></app-header>

<div class="header_2">
    <img src="/assets/img/Heros.jpg">
    <p class="text-header-2">What We Offer</p>
</div>


<div class="header_3">
    <div class="texts">
        <p class="text_1">Serving Quality</p>
        <p class="text_2">We at Gericth Are Serving Our Customers For Over A Decade</p>
        <p class="text_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices
            vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
        <div class="buttons">
            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_1">Read More</a>
            <a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_2">Contact
                Us</a>
        </div>
    </div>
    <img class="zn" src="/assets/img/zn.png">
</div>


<div class="header_4">
    <img class="glass" src="/assets/img/glass.png">
    <ul class="food_menu">
        <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Bar Menu</a></li>
        <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Food Menu</a></li>
        <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Desserts Menu</a></li>
    </ul>
</div>


<div class="header_5">
    <div class="block">
        <p class="text_1">Reservations</p>
        <p class="text_2">Book A Table</p>
        <div class="inputs">
            <select>
                <option>1 person</option>
                <option>2-5 persons</option>
                <option>6-10 persons</option>
                <option selected>Number of persons</option>
            </select>
            <form>
                <input type="date" name="calendar" value="2023-01-01" max="2023-01-31" min="2023-01-18">
            </form>
            <form>
                <input id="appt-time" type="time" name="appt-time" min="12:00" max="18:00">
                <span class="validity"></span>
            </form>
        </div>
        <button class="book-now">Book Now</button>
    </div>
</div>


<div class="header_6">
    <img class="mask" src="/assets/img/Mask.png">
    <div class="text-header-6">
        <p class="text-2_6">Happy Hours</p>
        <p class="text-1">Monday - Friday(4:00 Pm - 7:00 pm)</p>
    </div>
</div>


<div class="header_7">
    <div class="block">
        <p class="text_1">Newsletter</p>
        <p class="text_2">Subscribe To Our Newsletter</p>
        <p class="text_3">And never miss latest Updates!</p>
        <div class="mail">
            <input type="email" id="email" name="email" placeholder="Email Adress">
            <button class="book-now">Subscribe</button>
        </div>
    </div>
    <img class="zn_2" src="/assets/img/zn.png">
</div>


<app-footer></app-footer>