/* You can add global styles to this file, and also import other style files */
*,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');
@font-face {
  font-family: CormorantUpright-Bold;
  src: url(./assets/fonts/CormorantUpright-Bold.ttf);
}
@font-face {
  font-family: CormorantUpright-Light;
  src: url(./assets/fonts/CormorantUpright-Light.ttf);
}
