<app-header></app-header>
<docs-carousel06></docs-carousel06>
<div class="header_3">
    <div class="obj_img">
        <img class="glight" src="/assets/img/Glight.png">
        <img class="knife" src="/assets/img/savernake-knives-f4jl2ezowuM-unsplash 2.png">
    </div>
    <div class="block-knife">
        <div class="block_left_1">
            <p class="left-text-2">About Us</p>
            <p class="left-text-5-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing
                ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_1-1">Khow
                More</a>
        </div>
        <div class="right_blocks">
            <p class="right-text-2-5">Our History</p>
            <p class="right-text-5-2-2">Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat
                morbi volutpat habitasse interdum mi aliquam In sed odio nec aliquet.</p>
            <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="button_1">Khow More</a>
        </div>
    </div>
</div>


<div class="header_4">
    <div class="block">
        <p class="text_1">Reservations</p>
        <p class="text_2">Book A Table</p>
        <snack-bar-example></snack-bar-example>

    </div>
    <img class="zn_2" src="/assets/img/zn.png">
</div>


<div class="header_5">
    <img class="glass" src="/assets/img/glass.png">
    <ul class="food_menu">
        <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Bar Menu</a></li>
        <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Food Menu</a></li>
        <li><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Desserts Menu</a></li>
    </ul>
</div>


<div class="header_6">
    <div class="block_6">
        <p class="text_1-6">Menu that fits you palatte</p>
        <p class="text_2-6">Today’s Special</p>
    </div>
    <div class="blocks-all">
        <div class="block-left-6">
            <p class="wine_beer">Wine & Beer</p>
            <div class="all-block-food">

                <div class="block_food">
                    <p class="name_food">Catena Malbec</p>
                    <p class="line">_________</p>
                    <p class="price">$59</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Chapel Hill Shiraz</p>
                    <p class="line">_________</p>
                    <p class="price">$56</p>
                </div>

                <div class="block_food">
                    <p class="name_food">La Vieille Rosé</p>
                    <p class="line">_________</p>
                    <p class="price">$44</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Rhino Pale Ale</p>
                    <p class="line">_________</p>
                    <p class="price">$31</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Irish Guinness</p>
                    <p class="line">_________</p>
                    <p class="price">$26</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Fresh Guinness</p>
                    <p class="line">_________</p>
                    <p class="price">$26</p>
                </div>
            </div>
        </div>
        <img class="img_6" src="/assets/img/3596233 1.png">
        <div class="block-left-6">
            <p class="wine_beer">Coctails</p>
            <div class="all-block-food">

                <div class="block_food">
                    <p class="name_food">Aperol Spritz</p>
                    <p class="line">_________</p>
                    <p class="price">$20</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Dark 'N' Stormy</p>
                    <p class="line">_________</p>
                    <p class="price">$16</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Daiquiri</p>
                    <p class="line">_________</p>
                    <p class="price">$10</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Old Fashioned</p>
                    <p class="line">_________</p>
                    <p class="price">$31</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Negroni</p>
                    <p class="line">_________</p>
                    <p class="price">$26</p>
                </div>

                <div class="block_food">
                    <p class="name_food">Guinness</p>
                    <p class="line">_________</p>
                    <p class="price">$26</p>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page" class="book-now_4">Subscribe</a>
</div>


<div class="header_7">
    <img class="zn_2" src="/assets/img/zn.png">

    <div class="foto_7">
        <img class="image" src="/assets/img/Image.png">
    </div>
    <div class="right_block">
        <p class="right-text-1">Chef’s Word</p>
        <p class="right-text-22">What we believe in</p>
        <p class="right-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit .auctor sit iaculis
            in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue ac consequat,
            aliquam molestie lectus eu. Congue iaculis integer curabitur semper sit nunc.</p>
        <p class="right-text-4">Kevin Luo</p>
        <p class="right-text-5">Chef & Founder</p>
        <img class="kevin" src="/assets/img/Kevin Luo.png">
    </div>
</div>


<div class="header_8">
    <p class="text_1">Testimony</p>
    <p class="text_2">Happy customers</p>
    <div class="customers">
        <div class="customer">
            <div class="customer-1">
                <img class="foto" src="/assets/img/Wade.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Wade Warren</p>
                    <p class="customer-text-3">Sommelier</p>
                </div>
            </div>

            <div class="customer-1">
                <img class="foto" src="/assets/img/Robert.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Robert Fox</p>
                    <p class="customer-text-3">Chef</p>
                </div>
            </div>
        </div>
        <div class="customer">
            <div class="customer-1">
                <img class="foto" src="/assets/img/Jane.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Jane Cooper</p>
                    <p class="customer-text-3">Sommelier</p>
                </div>
            </div>

            <div class="customer-1">
                <img class="foto" src="/assets/img/Brooklyn.png">
                <div class="customer-text">
                    <p class="customer-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit
                        iaculis in
                        arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                    <p class="customer-text-2">Brooklyn Simmons</p>
                    <p class="customer-text-3">Caterer</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="header_9">
    <div class="texts">
        <p class="text_1">Serving Quality</p>
        <p class="text_2">We at Gericth Are Serving Our Customers For Over A Decade</p>
        <p class="text_4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices
            vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
    </div>
    <img class="zn" src="/assets/img/zn.png">
    <video src="/assets/img/Video-1.mp4" autoplay loop [muted]="'muted'" playsInline></video>
</div>


<div class="header_10">
    <div class="circle_circle">
        <p class="right-text-1">Chase the new Flavour</p>
        <p class="right-text-2">The key to Fine dining</p>
    </div>
    <div class="obj">
        <div class="block_left">
            <div class="circle">
                <p class="right-text-1">Chase the new Flavour</p>
                <p class="right-text-2">The key to Fine dining</p>
            </div>
            <div class="circle-all">
                <div class="two-blocks">
                    <div class="block_circle">
                        <div class="circle-numbers">
                            <img class="circle_number" src="/assets/img/circle.png">
                            <p class="number">1</p>
                        </div>

                        <div class="text_circle">
                            <p class="customer-text-2">Bib Gourmond</p>
                            <p class="customer-text-1_1">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>

                    <div class="block_circle">
                        <div class="circle-numbers">
                            <img class="circle_number" src="/assets/img/circle.png">
                            <p class="number">2</p>
                        </div>

                        <div class="text_circle">
                            <p class="customer-text-2">AA Hospitality </p>
                            <p class="customer-text-1_1">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="two-blocks">
                    <div class="block_circle">
                        <div class="circle-numbers">
                            <img class="circle_number" src="/assets/img/circle.png">
                            <p class="number">3</p>
                        </div>

                        <div class="text_circle">
                            <p class="customer-text-2">Rising Star</p>
                            <p class="customer-text-1_1">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>

                    <div class="block_circle">
                        <div class="circle-numbers">
                            <img class="circle_number" src="/assets/img/circle.png">
                            <p class="number">4</p>
                        </div>

                        <div class="text_circle">
                            <p class="customer-text-2">Outstanding Chef</p>
                            <p class="customer-text-1_1">Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="g-img">
            <img class="meat" src="/assets/img/meat.png">
            <div class="gg">
                <img class="g" src="/assets/img/G.png">
            </div>
        </div>
    </div>
</div>


<div class="header_11">
    <p class="text_1">Blogs</p>
    <p class="text_2">Gerícht updates</p>
    <div class="photoss">
        <div class="photo_11">
            <img class="pic" src="/assets/img/meat_2.png">
            <div class="texts_11">
                <p class="date">16 Apr 2021</p>
                <p class="head">tips for prepping and caring for your grill</p>
                <p class="opis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis
                    elit
                    elit
                    scelerisque egestas mus in.</p>
                <p class="read_more">Read More</p>
            </div>
        </div>

        <div class="photo_11">
            <img class="pic" src="/assets/img/lemon.png">
            <div class="texts_11">
                <p class="date">06 May 2021</p>
                <p class="head">easy cooking for college students</p>
                <p class="opis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis
                    elit
                    elit
                    scelerisque egestas mus in.</p>
                <p class="read_more">Read More</p>
            </div>
        </div>

        <div class="photo_11">
            <img class="pic" src="/assets/img/tomato.png">
            <div class="texts_11">
                <p class="date">23 May 2021</p>
                <p class="head">summer cocktails and mocktails for summer</p>
                <p class="opis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis
                    elit elit scelerisque egestas mus in.</p>
                <p class="read_more">Read More</p>
            </div>
        </div>
    </div>
    <a class="book-now_2" href="https://www.instagram.com/explore/tags/gericht/?__coig_restricted=1"
        target="_blank">View More</a>
    <img class="zn_3" src="/assets/img/zn.png">
</div>


<div class="header_12">
    <div class="texts-header-7">
        <p class="right-text-1">Instagram</p>
        <p class="right-text-2">Photo Gallery</p>
        <p class="right-text-5-27">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis
            elit
            elit scelerisque egestas mu.</p>
        <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank" class="button_1">View
            More</a>
    </div>
    <div class="photoses">
        <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank"><img
                src="/assets/img/2.png" class="image_ins"></a>
        <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank"><img
                src="/assets/img/1.png" class="image_ins"></a>
        <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank"> <img
                src="/assets/img/7.png" class="image_ins"></a>

    </div>
</div>


<div class="header_14">
    <div class="block">
        <p class="text_1">Newsletter</p>
        <p class="text_2">Subscribe To Our Newsletter</p>
        <p class="text_4">And never miss latest Updates!</p>
        <div class="mail">
            <input type="email" id="email" name="email" placeholder="Email Adress">
            <button class="book-now-3">Subscribe</button>
        </div>
    </div>
    <img class="zn_4" src="/assets/img/zn.png">
</div>


<app-footer></app-footer>
<!-- <div class="header_13">
    <div class="all">
        <div class="texts-8">
            <p class="contacts">Contact Us</p>
            <p class="adress">9 W 53rd St, New York, NY 10019, USA</p>
            <p class="phone">+1 212-344-1230</p>
            <p class="phone">+1 212-555-1230</p>
        </div>

        <div class="center">
            <p class="text_5">Gerícht</p>
            <p class="text_4">"The best way to find yourself is to lose yourself in the service of others”</p>
            <div class="social">
                <a href="https://twitter.com/search?q=gericht&src=typed_query" target="_blank"><img
                        src="/assets/img/u_twitter-alt.png" alt="facebook"></a>
                <a href="https://www.facebook.com/groups/641839766874583" target="_blank"><img
                        src="/assets/img/u_facebook-f.png" alt="facebook"></a>
                <a href="https://instagram.com/manuelas.kochstube?igshid=YmMyMTA2M2Y=" target="_blank"><img
                        src="/assets/img/u_instagram.png" alt="facebook"></a>

            </div>
        </div>

        <div class="right">
            <p class="contacts">Working Hours</p>
            <p class="days">Monday-Friday:</p>
            <p class="days">09:00-10:00</p>
            <p class="days">Saturday-Sunday:</p>
            <p class="days">10:00-00:00</p>

        </div>
    </div>

    <footer>
        <p class="footer_p">2022 Gerícht. All Rights reserved</p>
    </footer>
</div> -->