<app-header></app-header>


<div class="header_2">
    <img src="/assets/img/Heros.jpg">
    <p class="text-header-2">Welcome to Gerícht</p>
</div>


<div class="header_3">
    <img class="glass" src="/assets/img/glass.png">
    <ul class="food_menu">
        <li><a href="menu#bar">Bar Menu</a></li>
        <li><a href="menu#food">Food Menu</a></li>
        <li><a href="menu#desserts">Desserts Menu</a></li>
    </ul>
</div>


<div class="header_4">
    <div class="bar_menu">
        <div class="head" id="bar">Bar Menu</div>
        <div class="name_alco">
            <div class="names">
                <img class="coctail" src="/assets/img/bocals.jpeg">
                <div class="classics">Classics</div>
                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Manhattan</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Classic martini</p>
                        <p class="line">_____________</p>
                        <p class="price">$6</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Sazerac</p>
                        <p class="line">_____________</p>
                        <p class="price">$8.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Cosmopolitan</p>
                        <p class="line">_____________</p>
                        <p class="price">$12</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Mojito</p>
                        <p class="line">_____________</p>
                        <p class="price">$10</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Bellini</p>
                        <p class="line">_____________</p>
                        <p class="price">$14</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Fashioned</p>
                        <p class="line">_____________</p>
                        <p class="price">$13</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Daiquiri</p>
                        <p class="line">_____________</p>
                        <p class="price">$12.2</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Negroni</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.85</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Sazerac</p>
                        <p class="line">_____________</p>
                        <p class="price">$6.75</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

            </div>
            <div class="names">
                <div class="classics">Fresh night</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Manhattan</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Espresso fest</p>
                        <p class="line">_____________</p>
                        <p class="price">$14</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Flat white</p>
                        <p class="line">_____________</p>
                        <p class="price">$13</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Lychee</p>
                        <p class="line">_____________</p>
                        <p class="price">$12.2</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Vesper martini</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.85</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Lite breakfast</p>
                        <p class="line">_____________</p>
                        <p class="price">$6.75</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Aurora</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.85</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Barologist</p>
                        <p class="line">_____________</p>
                        <p class="price">$6.75</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <img class="stacan" src="/assets/img/stakan-led-viski-alkogol.jpeg">
                <div class="classics">Non-alcoholic</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appltoe Mojito</p>
                        <p class="line">_____________</p>
                        <p class="price">$4.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Autumnal Fizz</p>
                        <p class="line">_____________</p>
                        <p class="price">$6.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

            </div>

        </div>

    </div>
</div>


<div class="header_5">
    <div class="bar_menu">
        <p class="head" id="food">Food Menu</p>
        <div class="name_alco">
            <div class="names">
                <img class="soup" src="/assets/img/soup.webp">
                <div class="classics">Soups</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Applet</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Bellini</p>
                        <p class="line">_____________</p>
                        <p class="price">$14</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>


                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Negroni</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.85</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Sazerac</p>
                        <p class="line">_____________</p>
                        <p class="price">$6.75</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <img class="soup" src="/assets/img/pasta.webp">
                <div class="classics">Pasta</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>
            </div>

            <div class="names">

                <div class="classics">Pizza</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>
                <img class="soup" src="/assets/img/pizza.webp">

                <div class="classics">Meat and Grill</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>
                <img class="soup" src="/assets/img/grill.webp">
            </div>
        </div>
    </div>
</div>


<div class="header_6">
    <div class="bar_menu">
        <p class="head" id="desserts">Desserts Menu</p>
        <div class="name_alco">
            <div class="names">
                <img class="soup" src="/assets/img/cakes.webp">
                <div class="classics">Cakes</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Applet</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Bellini</p>
                        <p class="line">_____________</p>
                        <p class="price">$14</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>


                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Negroni</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.85</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Sazerac</p>
                        <p class="line">_____________</p>
                        <p class="price">$6.75</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>




                <img class="soup" src="/assets/img/waffle.avif">
                <div class="classics">Waffle</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>
            </div>

            <div class="names">

                <div class="classics">Ice-Cream</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Kir Royale</p>
                        <p class="line">_____________</p>
                        <p class="price">$9.4</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>
                <img class="soup" src="/assets/img/ice cream.jpeg">

                <div class="classics">Macarons</div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>

                <div class="opis">
                    <div class="block_food">
                        <p class="name_food">Appetizess</p>
                        <p class="line">_____________</p>
                        <p class="price">$7.5</p>
                    </div>
                    <p class="opisanie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra
                        adipiscing
                        ultrices vulputate posuere tristique.
                    </p>
                </div>
                <img class="soup" src="/assets/img/macarons.jpeg">
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>